#front {
    background: rgba(10, 10, 10, 0.4) url(../images/pexels-ola-dapo-3521937.jpg) center center;
    background-size: cover;
    background-blend-mode: darken;
}
#butt {
    background-color: #6610f2;
}
.fs-10 {
    font-size: calc(5rem + .9vw)!important;
}
.purp {
    color: #6610f2;
}